#hero {
    background-image: url(cubes.jpg);
}
.body {
    background-color: rgb(182, 255, 170);
    background-color: linear-gradient(
      rgba(182, 255, 170, 1) 0%,
      rgba(0, 0, 0, 1) 18%,
      rgba(255, 0, 0, 1) 100%
    );
}

.card {
    background-color: #C9F3CC;
    margin: 2%;
}

.card:hover {
    background-color: #dcecdd;
}

.card-title {
    font-size: 2rem;
}

.hero {
    background-image: url("fabric.jpg");
    height: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
}

.git-image {
    background-image: url("code-solid.svg");
    background-size: 100% 100%;
}

.view-image {
    background-image: url("info-solid.svg");
    background-size: 100% 100%;
}

.git {
    margin: 2%;
    height: 10%;
    width: 10%;
    /* position: absolute;
    bottom: 2%; */
    text-align: center;
}

.images {
    width: 90%;
    height: 5%;
    margin: 0%
}

.bottomJumbatron {
    border-color: black;
}

a {
    text-decoration: none;
}

.textColourOverBlack {
    color: rgb(0, 34, 3);
    text-align: justify;
}

#jumbatroncontainer {
    background-color: #C9F3CC;
    border-color: white;
    min-height: 1000vh;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

ul {
    padding-left: 2rem;
    list-style-type: none;
}

ul li {
    padding-left: 2rem;
    padding-bottom: 1rem;
    background-position: 0 0;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    line-height: 1.5rem;
}

#death {
    background-image: none;
    background-color: black;
    min-height: 1000vh
}

.circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 10px;
    display: inline-block;
    background-color: red;
}