
.boxy {
    border-style: solid;
    margin: 1%;
    padding: 1.5%;
}

.very-high {
    min-height: 50vh;
}

.btn-depressed {
    color: grey
}

.btn-depressed:hover {
    color: grey
}

textarea {
    width: 100%;
}