body {
    background-color: #333333;
    color: #f2f2f2;
    font-family: "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

iframe {
    height: 100%;
}

.sides {
    max-width: 10vw;
    min-height: 10vh;

    margin:0;
}

.boxyHigh {
    min-height: 50vh;
}

.boxy,
.boxyHigh {
    border-style: solid;
    padding: 1em;
}

.scrollWhenOverflown {
    overflow: auto;
    max-height: 50vh;
}

.btn-primary {
    background-color: #f2f2f2;
    min-height: 2em;
    min-width: 2em;
    border-radius: 0.5em;
    font-size: 1em;
}

.btn-icon {
    width: 2em;
    height: 2em;
}

.resizable-border {
    resize: both;
    overflow: auto;
}

#componentEditor,
#scriptEditor {
    flex-grow: 1;
}

.footer {
    text-align: center;
}

#editor {
    position: absolute;
    margin-bottom: 0;
    width: 30vw;
    height: 10vh;
    overflow: auto;
}

#view {
    height: 50vh
}

.short {
    height: 2em;
}
