.hero {
    background-image: url("leaf.jpg");
    height: 50%;
    width: 100%;
    color: rgb(255, 255, 255); 
}

.git {
    margin: 2%;
    height: 10%;
    width: 10%;
    /* position: absolute;
    bottom: 2%; */
    text-align: center;
}

.images {
    width: 90%;
    height: 5%;
    margin: 0%
}

.bottomJumbatron {
    border-color: black;
}

a {
    text-decoration: none;
}

.textColourOverBlack {
    color: rgb(0, 34, 3);
    text-align: justify;
}

#jumbatroncontainer {
    background-color: #C9F3CC;
    border-color: white;
    min-height: 50vh;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

ul {
    padding-left: 2rem;
    list-style-type: none;
}

ul li {
    padding-left: 2rem;
    padding-bottom: 1rem;
    background-position: 0 0;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    line-height: 1.5rem;
}